.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  font-size: large;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  font-weight: 400;
  position: relative;
}

.menu ul {
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.menu ul li {
  list-style-type: none;
  padding: 0 20px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li button {
  width: 180px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--fuschia-60, #fcddec);
  background: var(--secondary-60, #8a489c);
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.logo img {
  width: auto;
  height: 100px;
  position: absolute;
  margin-right: 20px;
  top: 0;
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px 20px;
  }

  .menu ul {
    padding: 0;
  }

  .menu ul li {
    padding: 0 10px;
  }

  .menu ul li button {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }

  .logo img {
    height: 80px;
  }
}