.login-wrapper {
  display: flex;
  height: 100vh;
}

.login-description {
  background-color: #f5f5f5;
  flex: 1.5;
  background-image: url('../../assets/images/ap.jpg');
  background-size: cover;
}

.login {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login img {
  width: 50%;
  height: auto;
  margin: 0 auto 10px;
  display: block;
}

.login .input-group {
  margin-bottom: 20px;
}

.login .input-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.login .input-group input {
  height: 30px;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login button {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background: #397adb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background: #3672bb;
}