.container {
    width: 80%;
    margin: 40px auto 0;
}

.content-mhs {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.content-profil-1 {
    height: 320px;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.detail-profil-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    font-size: 18px;
}

.detail-profil-2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}