.container {
    width: 80%;
    margin: 40px auto 0;
}

.content-mhs {
    width: 100%;
    background-color: aliceblue;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-profil-1,
.content-profil-2 {
    height: 300px;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 20px;
}

.detail-profil-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    font-size: 18px;
}

.detail-profil-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}