.container {
  width: 80%;
  margin: 40px auto 0;
}

.content-operator {
  width: 100%;
  background-color: aliceblue;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}