.container-dosen-data-mhs {
    width: 80%;
    margin: 40px auto 0;
}

.content-dosen-data-mhs {
    width: 100%;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.content-atas-data-mhs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 20px;
}