.content-dosen-wrapper {
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.header-dashboard-dosen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.content-dosen-1 {
    height: 300px;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.content-dosen-2 {
    width: 50%;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.detail-dosen-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 18px;
}

.detail-dosen-2 {
    display: flex;
    gap: 20px;
}


.sbg-dosen-pengampu {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sbg-dosen-pengampu h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sbg-dosen-pengampu button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.sbg-dosen-pengampu button:hover {
    background-color: #000;
    color: #fff;
}